h2 {
    background-color: #cdebe1;
    color: #616d6d;
    text-align: center;
    font-size: 25px;
}
img {
    height: 200px;
    width: 200px;
}
li{
    background-color: #cdebe1;
}
.thing1 {
    background-color: #c27c8a;
    color: #21214d;
}
#thing2 {
    background-color: #acc2d4;
    color: #067e7a;
}
.header {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: fantasy;
    transition: color 1s;
}
.header:hover {
    color:skyblue
}
.main {
    text-align: center;
}
